@media only screen and (max-width: 1290px) {
    #str-glavnaya .sect2 .main-text {
        padding-left: 20px;
        font-size: 20px;
    }
    #str-glavnaya .sect2 .main-text span {margin-left: 0 !important;}
}

/*@media only screen and (max-width: 1250px) {
    #str-glavnaya .sect4 {background-position: -160px bottom;}
}*/

@media only screen and (max-width: 1160px) {
    .header .top-header .contacts .item {margin-left: 30px;}
    .header .top-header .contacts .item .tel {font-size: 20px;}
    #str-glavnaya .sect3 a.item {width: 50%;}
    #str-vnutr .aside {width: 30%;}
    #str-vnutr .main-section {width: 70%;}
    #str-vnutr .main-section .b-contacts {width: 60%;}
}

@media only screen and (max-width: 1140px) {
    .footer .top-header .contacts .item {
        margin-left: 0;
        display: table;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1120px) {
    #str-glavnaya .sect-map .white-box {
        left: 0;
        margin-left: 0;
    }
}

/*@media only screen and (max-width: 1090px) {
    #str-glavnaya .sect4 {background-position: -260px bottom;}
}*/

@media only screen and (max-width: 1000px) {
    /*#str-glavnaya .sect2 {
        background: #f2f0f1;
        padding-top: 40px;
        padding-bottom: 50px;
        height: auto;
        margin-bottom: 20px;
    }*/
    #str-glavnaya .sect2 .main-text span {display: inline;}
    #str-glavnaya .sect2 .main-text {
        max-width: 100%;
        padding-right: 20px;
    }
    #str-glavnaya .sect2 .sect-title {max-width: 100%;}
    #str-vnutr .main-section .b-contact-form {width: 40%;}
}

@media only screen and (max-width: 960px) {
    #str-glavnaya .sect1 .yellow-line {
        zoom: 80%;
        width: 80%;
        line-height: 1;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 83px;
    }
}

@media only screen and (max-width: 880px) {
    .header .top-header .logo {
        width: 250px;
        margin-top: 3px;
    }
    /*#str-glavnaya .sect4 {background-position: center;}*/
    #str-glavnaya .sect5 .item {width: 49%;}
}

@media only screen and (max-width: 830px) {
    .header .top-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header .top-header .contacts .item {display: none;}
    .header .top-header .contacts .item:nth-child(1) {display: block;}
    #str-vnutr .main-section .b-contacts {
        width: 100%;
        margin-bottom: 40px;
    }
    #str-vnutr .main-section .b-contact-form {
        clear: both;
        float: none;
    }
}

@media only screen and (max-width: 800px) {
    #str-vnutr .main-section {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #str-vnutr .aside {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 770px) {
    #str-glavnaya .sect3 a.item {width: 100%;}
}

@media only screen and (max-width: 750px) {
    #mmenu {
        display: block !important;
        position: absolute;
        left: 20px;
        top: 40px;
        z-index: 200;
    }
    #mmenu.open {position: fixed;}
    .footer #mmenu {display: none !important;}
    #mmenu span {
        display: block;
        background: #ff8400;
        margin-top: 7px;
        height: 3px;
        width: 30px;
        transition: All 0.2s ease-in-out;
        -webkit-transition: All 0.2s ease-in-out;
        -moz-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
    }
    #mmenu span:nth-child(1) {margin-top: 0;}
    #mmenu.open span:nth-child(1) {
        margin-top: 0;
        margin-top: 7px;
        position: relative;
        top: 2px;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #mmenu.open span:nth-child(2) {
        margin-top: 0;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #mmenu.open span:last-child {opacity: 0;}
    .header .nav {display: none;}
    .header .nav.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
    }
    .header .nav.open ul {
        display: table;
        width: 100%;
    }
    .header .nav.open ul li {
        border-right: 0;
        border-radius: 0;
    }
    .header .top-header .logo {
        margin-top: 15px;
        position: absolute;
        left: 50%;
        margin-left: -150px;
    }
   /* #str-glavnaya .sect1 {padding-top: 120px;}*/
    .footer .nav {
        background: none;
        margin-top: -160px;
        overflow: visible;
        height: auto;
    }
    .footer .nav ul {display: table;}
    .footer .nav li {
        display: table;
        border: 0;
        background: none;
    }
    .footer .nav a {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        line-height: 1;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
   /* #str-vnutr .sect1 {height: 110px;}*/
}

@media only screen and (max-width: 670px) {
    #str-glavnaya .sect4 .sect-title {
        font-size: 36px;
        width: 60%;
        line-height: 1;
        height: 83px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #str-glavnaya .sect-map .white-box {
        top: 0;
        width: 100%;
        max-width: 100%;
        position: relative;
        display: table;
    }
}

@media only screen and (max-width: 650px) {
    #str-vnutr .main-section .b-tovar .item {width: calc(50% - 10px);}
    #str-vnutr .main-section .b-tovar .item:nth-child(3n) {margin-right: 20px;}
    #str-vnutr .main-section .b-tovar .item:nth-child(even) {margin-right: 0;}
}

@media only screen and (max-width: 600px) {
    .header .top-header .logo {margin-left: -190px;}
    #str-glavnaya .sect1 .sect-title {
        font-size: 36px;
        line-height: 1.3;
        padding: 0 10px;
    }
    #str-glavnaya .sect5 .item {
        width: 100%;
        padding-right: 0;
    }
}

@media only screen and (max-width: 560px) {
    .footer .top-header .logo {width: 50%;}
}

@media only screen and (max-width: 540px) {
    .header .top-header .logo {
        margin-top: 20px;
        margin-left: -140px;
        width: 200px;
    }
    /*#str-glavnaya .sect1 {padding-bottom: 20px;}*/
    #str-glavnaya .sect1 .yellow-line {font-size: 30px;}
    .almazniy-stol a {
        width: 100%;
        margin-bottom: 40px;
    }
    .almazniy-stol {margin-top: 50px;}
    #str-glavnaya .sect7 .sub-title {width: 80%;}
}

@media only screen and (max-width: 510px) {
    #str-glavnaya .sect7 .form-callback {margin-top: 30px;}
    #str-glavnaya .sect7 .input-text {width: 80%;}
    #str-glavnaya .sect7 input[type="text"] {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .top-header .logo {
        width: 100%;
        float: none;
        margin-bottom: 40px;
    }
    .footer .top-header .contacts {
        float: none;
        clear: both;
    }
    .footer .nav {margin-top: 0;}
    .metrika {text-align: left;}
}

@media only screen and (max-width: 490px) {
    .header .top-header .logo {margin-left: -160px;}
}

@media only screen and (max-width: 460px) {
    .header .top-header .logo {
        margin-left: -140px;
        width: 170px;
    }
    #str-vnutr .main-section .b-tovar .item {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
    #str-vnutr .main-section .b-tovar .item:nth-child(3n),
    #str-vnutr .main-section .b-tovar .item:nth-child(even) {margin-right: auto;}
}

@media only screen and (max-width: 420px) {
    .header .top-header .logo {
        margin-left: -125px;
        width: 140px;
    }
    #str-glavnaya .sect1 .yellow-line {font-size: 24px;}
}

@media only screen and (max-width: 410px) {
    #str-glavnaya .sect3 a.item {zoom: 80%;}
}

@media only screen and (max-width: 400px) {
    #str-glavnaya .sect1 .bottom-line .item {
        width: 100%;
        margin-bottom: 40px;
    }
    .almazniy-stol {margin-top: 20px;}
    #str-vnutr .main-section .b-contact-form {width: 100%;}
}

@media only screen and (max-width: 380px) {
    .header .top-header .logo {
        margin-top: 25px;
        margin-left: -90px;
        width: 120px;
    }
    .header .top-header .contacts .item .tel {font-size: 16px;}
    .header .top-header .contacts .item .name {font-size: 14px;}
    .header .top-header .contacts > a {font-size: 12px;}
    #str-glavnaya .sect1 .sect-title {font-size: 30px;}
    #str-vnutr .main-section .b-tovar .item {width: 100%;}
}

@media only screen and (max-width: 340px) {
    .header .top-header .logo {
        margin-left: -95px;
        width: 110px;
    }
    #str-glavnaya .sect-map .white-box .text {padding-left: 10px;}
}

@media all and (max-width: 1000px) and (min-width: 750px)
{
    .nav a
    {
        font-size: 16px;
    }
}